Tools/Keil/Project/objs/*
*.o
*.d
*.ko
*.obj
*.elf
.sconsign.dblite
*.pyc
*.rar
*.zip
*.bak
*.tmp
*.crf
si/*
*.uvgui.*
.cproject
.project
.settings/*
Bin/*
Debug
Release
*.img
*.bin
*.output/
*.out
*.map
*.lst