Tools/Keil/Project/objs/*
*.o
*.d
*.ko
*.obj
*.elf
.sconsign.dblite
.noscons
GPATH
GTAGS
GRTAGS
*.pyc
*.rar
*.zip
*.bak
*.tmp
*.crf
si/*
*.uvgui.*
.settings/*
.vscode/tags
Bin/*
Debug
Release
tools/py_scripts/flasher.ini
tools/makeimg
tools/makeimg_all
tools/makeimg_dbg
*.img
*.bin
*.output/
*.out
*.map
*.lst

!.settings/ch.hsr.ifs.sconsolidator.core.prefs
